<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<title>选择合同模板</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />

		<!-- ================== BEGIN BASE CSS STYLE ================== -->
		<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/animate.min.css" rel="stylesheet" />
		<link href="/assets/css/style.min.css" rel="stylesheet" />
		<!-- ================== END BASE CSS STYLE ================== -->
	</head>
	<style>
		.xde {
			margin-top: 20px !important;
			/*border: 1px #3e87e5 solid;*/
			background: #e53f2c;
			border-radius: 6px;
			font-size: 14px;
			padding: 5px 10px;
		}
		
		.xde a {
			color: #fff !important;
		}
		
		#lblSelect {
			margin-top: 22px;
		}
		.blk{
			padding-left: 10px;
		}
	</style>

	<body style="background-color: #f4f4f4;">
		{include file="pub/header" /}
		
		<div class="mation_content">
			<!--<div id="j_left"><?php echo $html; ?></div>-->
			<div class="wd_bg wd_bgtop si_bg">选择合同模板</div>
			<div class="mation_right fl">
			<div> 
				<div class="fl">
					<label class="fl z_name">请选择合同模板：</label>
					<label id="lblSelect">
				<select id="select" onchange="changetmpl()" >
					<option value="">请选择合同模板</option>
					{volist name="tmpl_list" id="vo"}
					<option value="{$vo.tmpl_code}">{$vo.tmpl_name}</option>
					{/volist}
				</select>
				</label>
					<input id="stmpl" class="stmpl" type="button" value="预览文件" />
				</div>
				<p class="fl" style="width:50px;"></p>
				<div style="" class="fl">
					<label class="fl z_name">或者直接上传需要签署的文件：</label>
					<div class="cur fl scdm xde" id="upload1"></div>
				</div>
			</div>
			<!--<input class="z_inp wid_20 fl mar" type="text" style="width:280px" id="tmpl_code"  name="tmpl_code" placeholder="合同模板编码"  onblur="showtmpl()"/>-->
			<input class="z_inp wid_20 fl mar" type="hidden" style="width:280px" id="tmpl_code" value="" name="tmpl_code" placeholder="合同模板编码" />
			<label class="fl z_name" style="color:red" id="lbinfo"></label>
			<br/>
			<div id='div_info' style='display: none; width:100%; height:100%; z-index:999999; position: absolute; top: 0px; left:0px;'>
				<p style='z-index:999999999; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.8; cursor: wait; position: fixed;'>
				</p>
				<div style='z-index:9999999999; font-size:24px; position: fixed; padding:70px; padding-bottom:90px; margin: 0px; top:30%; left: 35%; text-align: center; color: rgb(0, 0, 0); border:2px solid rgb(170, 170, 170); border-radius:10px; background:#fff; cursor: wait;'>
					<img class='fl' src='/assets/js/libs/loading.gif' style='display: inline-block; margin-top:20px;'>
					<span class='fl' style='display: inline-block; vertical-align: middle; margin-top:25px;margin-left:10px;'>处理中,请等待......</span>
				</div>
			</div>
			<iframe src="" style="width:100%;height: 400px;position:relative;" id="if_tmpl">

			</iframe>
			<input type="hidden" id="hd_tmpl_url" value="">
			<input type="hidden" id="hd_tmpl_code" value="">
			<br/>
			<a>
				<div id="next_btn" class="cop cur zii" onclick="next()">下一步</div>
			</a>
			</div>
		</div>
		{include file="pub/footer" /}
		<!-- ================== BEGIN BASE JS ================== -->
		<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/layer/layer.js"></script>
		<script src="/assets/js/function.js"></script>
		<!-- ================== END BASE JS ================== -->

		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<script src="/assets/js/login-v2.demo.min.js"></script>
		<script src="/assets/js/apps.min.js"></script>
		<!-- ================== END PAGE LEVEL JS ================== -->

		<script src="/assets/js/libs/common.js"></script>
		<script src="/assets/js/libs/jquery.form.min.js"></script>
		<script src="/assets/js/libs/uploadH/jquery.Huploadify.js"></script>
		<script>
			var check_flag = false;
			$(document).ready(function() {
				clearset();
				init_upload();
			});

			function init_upload() {
				$('#upload1').Huploadify({
					auto: true,
					'uploader': "/home/pub/uploadimgH?folder=tmpltemp",
					'buttonText': "上传签署文件",
					'width': '110px',
					'multi': false,
					'fileTypeExts': '*.pdf',
					'fileSizeLimit': "5120", //正式限制
					'onInit': function() {},
					'onUploadStart': function() {},
					'onUploadSuccess': function(file, data, response) {
						var jsonData = eval('(' + data + ')');
						if(jsonData['error'] == 0) {
							$('#hd_tmpl_url').val(jsonData['url'].replace("http://", "https://"));
							$('#hd_tmpl_code').val("");
							directshowtmpl();
						}
					},
					'onUploadError': function(file, errorCode, errorMsg, errorString) {
						$('.j_name').text("上传失败，请重试...");
					}
				});
			}

			function changetmpl() {
				var select_tmpl_code = $('#select').val();
				$('#hd_tmpl_code').val(select_tmpl_code);
				$('#hd_tmpl_url').val("");
				directshowtmpl();
			}

			$('#stmpl').click(function() {
				directshowtmpl();
			})

			function directshowtmpl() {
				var show = showtmpl();
				if(!show) {
					error("请先选择合同模板编码或者上传合同");
					return false;
				} else {
					return true;
				}
			}

			//初次加载该页面试，清除数据
			function clearset() {
				localStorage.removeItem("localfile");
				localStorage.removeItem("online_tmpl_code");
				localStorage.removeItem("online_tmpl_url");
				localStorage.removeItem("online_seal_code");
				localStorage.removeItem("online_reciver");
			}

			function next() {
				var show = showtmpl();
				if(show) {
					//先调用生成临时文件
					var tmpl_code = $('#hd_tmpl_code').val();
					var tmpl_url = $('#hd_tmpl_url').val();
					var http_tmpl_url = tmpl_url.replace("https://", "http://")

					var path = "/home/pub/savetmpl";
					var check_flag = false;
					$.ajax({
						type: "post",
						url: path,
						data: JSON.stringify({ tmpl_code: tmpl_code, "tmpl_url": http_tmpl_url }),
						async: false,
						complete: function() {
							$('#div_info').css('display', "block");
							return false;
						},
						success: function(data) {
							if(data.result == 'SUCCESS') {
								$('#div_info').css('display', "none");
								localStorage.setItem("localfile", "../../../tmpfile/" + data.return_data.filename);
								localStorage.setItem("online_tmpl_code", tmpl_code);
								localStorage.setItem("online_tmpl_url", tmpl_url);
								location.href = "/home/bootsign/onlinestep2";
							} else {
								layer.close(index);
								error("处理失败，请重试");
								return;
							}
						}
					});
				} else {
					error("请先选择合同模板或者上传文件");
					return;
				}
			}

			function showtmpl() {
				var tmpl_code = $('#hd_tmpl_code').val();
				var tmpl_url = $('#hd_tmpl_url').val();
				var tmpl_url = $('#hd_tmpl_url').val();
				if(tmpl_code == "" && tmpl_url == "") {
					return false;
				}
				if(tmpl_url != "") {
					$('#if_tmpl').attr('src', tmpl_url);
					return true;
				}
				//获取合同模板信息
				var path = "/home/dev/loadtmplinfo";
				var check_flag = false;
				$.ajax({
					type: "post",
					url: path,
					data: JSON.stringify({ tmpl_code: tmpl_code }),
					async: false,
					success: function(data) {
						if(data.result == 'SUCCESS') {
							$('#if_tmpl').attr('src', data.return_data.tmpl_url.replace("http://", "https://"));
							check_flag = true;
						} else {
							check_flag = false;
						}
					}
				});
				return check_flag;
			}
		</script>
	</body>

</html>