<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>向第三方应用授权</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.min.css" rel="stylesheet"/>
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<style>
	.xie_y{
		color:#fff;
		width:100px;
		height:35px;
		background:#3e87e5;
		border: 1px #fff solid;
		border-radius: 6px;
		display: block;
		cursor: pointer;
		text-align: center;
		font-size: 17px;
		margin: 20px;
	}
	.edit{
		position: relative;
		padding: 0px !important;
	}
	.Wscoll {
   	 padding-left: 15px;
   	 margin-left: 0px !important;
	}
</style>
<body style="background-color: #f4f4f4;">
{include file="pub/header" /}
<div class="mation_content">
    <div id="j_left"><?php echo $html; ?></div>
    <div class="mation_right fl blk">
        <form class="z_d" action="/home/dev/authDo" name="form" id="form" method="post">
            <section id="editor">
                <div id='edit' class="edit" style="margin-top: 30px;">
                    <h3>您正在进行易签云授权给第三方的操作，请仔细阅读相关说明</h3>
					<!--<h1>易签云开放平台开发者服务协议</h1>
					<h4>【声明】</h4>
					<p>为使用易签云开放平台开发服务（以下简称“本服务”），您应当阅读并遵守本协议 、《易签云注册服务协议》及《易签云电子签约服务协议》等易签云平台相关协议、规则。</p>
					<h4>请您务必逐条审慎阅读、充分理解本协议各条款内容，特别是免除或者限制责任的条款；以及开通或使用某项服务的单独协议条款。</h4>
					<p>除非您已阅读并接受本协议及相关协议、规则等全部条款，否则，您无权使用本公司提供的本服务。您使用本公司的本服务，即视为您已阅读并同意上述全部协议条款。一旦您违反本协议所提及全部协议条款，大连易签云网络科技有限公司（以下简称“易签云公司”或“本公司”）有权单方限制、中止或终止向您提供本服务，并有权追究您的相关责任</p>
					<h4>第一条 名词解释</h4>
					<p>除特别说明，下列术语在本协议中的含义为：</p>
					<p>1.1开发者：指经有效注册、申请后，将以其自身名义开发、创作或获得合法授权运营且独立承担法律责任的各种应用接入易签云开放平台而向用户提供各种服务的个人、法人或其他组织（以下简称“您”）。</p>
					<p>1.2应用：指由开发者以其自身名义开发、创作，享有合法的运营权利，并进行运营和独立承担法律责任的，通过在易签云开放平台登记后使用易签云开放平台服务的应用程序及相关服务。</p>
					<p>1.3易签云开放平台：指由本公司所拥有、控制、经营的【https://www.yqianyun.com】网站及前述各平台网站的下属子页面（以下简称“开放平台”、“平台”）。</p>
					<h4>本公司、开发者均知悉并同意：</h4>-->
					<div class="Wscoll">
						<p>{:C('service_about')}</p>
					<!--<p>（1）开放平台是一个中立的平台服务提供者，本协议项下仅向开发者提供开发服务开放接口或相关中立的技术支持服务，并且本公司有权基于易签云平台有序运营、健康发展等因素考量，自主选择使用本服务的开发者。</p>
					<p>（2）开发者的应用由开发者以其自身名义开发或享有合法的运营权利，并独立承担全部责任。本公司无义务参与开发者应用的研发、运营等任何活动；</p>
					<p>（3）因开发者应用及服务产生的任何纠纷，以及开发者违反相关法律法规或本协议约定所致后果，均由开发者独立承担责任、赔偿损失，与本公司无关。如侵害到本公司或他人权益的，开发者须承担全部责任和赔偿一切损失。</p>
					<p>1.4用户数据：是指用户在开放平台及应用中产生的与用户相关的数据，包括但不限于用户提交的语音数据、图像数据、用户操作行为形成的数据等。“用户数据”的所有权及其他相关权利属于本公司，且是本公司的商业秘密，依法属于用户享有的相关权利除外。</p>
					<p>1.5开放平台运营数据是指用户、开发者在使用开放平台服务中产生的相关数据，包括但不限于用户或开发者提交的数据、操作行为形成的数据及各类交易数据等。“开放平台运营数据”的所有权及其他相关权利属于本公司，且是本公司的商业秘密，依法属于用户享有的相关权利除外。</p>
					<p>1.6易签云或其服务平台：指本公司易签云软件、易签云公众平台、易签云开放平台等与易签云服务相关的网站、应用、软件等。</p>
					<h4>第二条 开发者的权利和义务</h4>
					<h5>2.1帐号注册</h5>
					<p>2.1.1您应当通过登录易签云开放平台网站，或本公司其他指定途径，使用专属您的电子邮箱注册开发者帐号以成为开发者，开发者帐号一经注册成功，电子邮箱不得变更，且该帐号不可转让、赠与、继承等。</p>
					<p>2.1.2您注册帐号时，应使用您拥有合法使用权的电子邮箱，并遵守相关协议、规则等的约束。</p>
					<p>2.1.3为保障本服务的合法性及安全性，您不得违反本协议约定将您的帐号用于其他目的，包括但不限于使用您的帐号为第三方应用申请本服务等。否则，本公司有权随时单方限制、中止或终止向您及您所登记的应用提供本服务，且未经本公司同意，您及您所登记的应用不得再次使用本服务。</p>
					<p>2.1.4您注册帐号使用的电子邮箱，是您登录及使用本服务的凭证。您应当做好保密措施，包括但不限于电子邮箱帐号、密码以及进入和管理本服务中的各类产品与服务的口令、密码等。因您保密措施不当或您的其他行为，致使上述信息丢失或泄漏，所致全部损失及相关责任，均由您自行承担。</p>
					<p>2.1.5您保证，您合法拥有注册本服务帐号的电子邮箱。该电子邮箱在本服务中的操作行为，包括但不限于注册本服务帐号，提交相应资质材料，确认和同意相关协议和规则，选择具体服务类别，以及进行费用结算等，均视为您本人的行为，对您均有约束力，您承担全部法律责任</p>
					<p>2.1.6若您发现有他人冒用或盗用您的帐号及密码，或任何其他未经您合法授权的情形时，应立即以有效方式通知本公司。本公司收到您的有效请求并核实身份后，会根据不同情况采取相应措施。若您提供的信息不准确，导致本公司无法核实您的身份，或本公司无法判断您的需求等，而导致本公司无法及时处理，给您带来的损失，您应自行承担；本公司对您的请求采取措施需要合理期限，对于您通知本公司以及本公司根据您的有效通知采取措施之前，由于他人行为给您造成的损失，本公司不承担任何责任。</p>
					<p>2.1.7您理解并同意，为保护您及用户的数据安全，防止用户信息泄露、毁损、篡改或者丢失，本公司有权对您接入的信息系统实行接入审查，包括但不限于技术水平审查、安全水平审查、主体资质审查等，并根据审查结果向您提出防入侵、防病毒等措施建议。若您的信息系统仍无法符合保护用户数据安全的要求，本公司有权拒绝或终止提供本服务。</p>
					<h5>2.2资质</h5>
					<p>2.2.1您保证，您如实填写和提交帐号注册与开发者认证资料，并对资料的真实性、合法性、准确性和有效性承担责任；您具备使用本服务，接入和运营应用，或提供相关服务等行为的相关合法资质，或经过了相关政府部门的审核批准；您提供的主体资质材料、相关资质或证明以及其他任何文件等信息真实、准确、完整，信息发生变更后，您应当及时更新；您具备履行本协议项下义务的行为能力；您履行相关义务的行为不违反任何对您的有约束力的法律法规。如您违约，本公司有权拒绝或终止提供本服务，并有权向您追究违约责任，全部责任由您自负。</p>
					<p>2.2.2您保证，按照本公司要求提交使用本服务所必须的真实、准确的主体资质材料（经您签章确认），以及联系人姓名（名称）、地址、电子邮箱等相关资料。</p>
					<p>2.2.3您保证，您在开放平台上通过您的应用提供的各种服务，依法已经具有相关的合法资质或获得了有关部门的许可或批准，并会向本公司提交相关资质或证明文件（包括但不限于版权、专利权等）。</p>
					<p>2.2.4您保证，您在易签云开放平台上通过您的应用提供的各种服务合法合规，不会侵犯任何人的合法权益。</p>
					<h5>2.3收费服务</h5>
					<p>2.3.1易签云开放平台部分服务是以收费方式提供的（包括但不限于易签云开放平台开发者资质认证服务等），如您使用收费服务，请遵守相关协议。</p>
					<p>2.3.2本公司有权单方决定对对收费服务的收费标准、方式进行变更，亦可单方决定对原免费服务开始收费。本公司将在相应服务页面进行通知或公告，而无需征得您的同意。若您存异议，则应停止使用该服务。</p>
					<h5>2.4开发者资质认证</h5>
					<p>2.4.1您符合一定条件后，可以申请开发者资质认证（以下简称“开发者认证”）。开发者认证服务内容仅限于开发者资质审核，本公司仅对您提交的资料和信息进行审核，不对您实际运营行为承担任何责任或提供任何担保。因您的行为导致与其他用户或第三方发生争议的，由您独立对外承担责任，致本公司、其他用户或第三方损害，您应当承担赔偿责任。</p>
					<p>2.4.2为向您提供更专业的服务，您同意授权本公司委托第三方对您所提交的认证资料进行审核，并根据审核情况独立判断，以确定认证结果。</p>
					<h5>2.5应用要求</h5>
					<p>2.5.1您应自行负责您应用的创作、开发、编辑、加工、修改、测试、运营及维护等工作，并且自行承担相应的费用。</p>
					<p>2.5.2 您的应用，应符合相关法规、技术规范或标准，同时，还应符合开放平台的对接入应用在技术、安全等方面的统一要求，以确保应用可以在开放平台安全、稳定的运营。</p>
					<p>2.5.3 您应用对本服务相关的API的使用，不得进行任何形式的更改。您应在应用中正确、完整地标注“Powered by 易签云开放平台”或“技术由易签云开放平台提供”字样，否则本公司有权随时中止或终止向您提供本服务。</p>
					<p>2.5.4 您的应用在开放平台上运营期间，您需向用户提供及时有效的客户服务，客户服务形式包括但不限于通过明确且合理的方式告知用户客户服务渠道、提供电话等，并自行承担客服费用。</p>
					<p>2.5.5 您应当在应用中向相关权利人提供投诉途径，确保权利人在认为您侵犯其合法权益时可以直接向您主张权利。</p>
					<p>2.5.6 您申请使用本服务的应用应为您自行开发、创作或获得合法授权运营并独立承担法律责任的应用，您不得通过您的帐号为任何第三方应用代为申请、使用本服务，否则，本公司有权随时单方限制、中止或终止向您及您所登记的应用提供本服务，且未经本公司同意您及您所登记的应用不得再次使用本服务。</p>
					<p>2.5.7 为保障用户对应用进行正确的识别和区分，保障用户的知情权、选择权以及其他第三方的合法权益，您的应用名称应当与您的应用存在关联性，不得以任何形式侵犯他人合法权益，且每一个应用只能使用一个应用名称。您应当向本公司提交真实、准确、完整的应用或网站信息，包括但不限于域名、链接、在其他第三方分配的帐号、字段等，本公司有权对此进行提取、分析、评估。</p>
					<h5>2.6应用运营</h5>
					<h5>2.1为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息，比如您的易签云授权头像、昵称等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用易签云授权号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。
					</h5>
					<h5>2.2您在使用本服务时，可能需向第三方提供您的其他个人信息、将您的信息或操作进行分享、允许第三方向您的账户等同步各种信息等，请您仔细阅读易签云授权页面并自行决定是否易签云授权以及易签云授权范围等。
					</h5>
					<h4>三.【使用规则】</h4>
					<h5>3.1您在使用本服务时，您须通过易签云授权提供的技术接口、登录页面等易签云授权许可的方式等进行易签云授权帐号和密码输入、个人信息易签云授权等操作，否则，可能会导致您易签云授权帐号或密码泄漏或其他损失的，造成损失的，您应自行承担。
					</h5>
					<h5>3.2 第三方自行保证提供的具体网站、应用或服务等的合法性、安全性以及真实性，若因任何第三方原因，造成您损失的，第三方应承担全部责任。
					</h5>
					<h5>3.3 您通过本服务使用易签云授权帐号登录、使用的网站、应用或服务等，应遵循您与第三方之间的协议、约定或第三方相关的规则等。
					</h5>
					<h5>3.4 您理解并同意：易签云授权在本服务中仅提供了登录接口的技术服务，您通过本服务使用易签云授权帐号登录、使用的网站、应用或服务等，均是由第三方提供的。易签云授权无法保证第三方网站、应用或服务等的合法性、安全性以及真实性，第三方网站、应用或服务等的质量和安全等由第三方独立负责、承担，您会自行进行判断、甄别、选择。若您因登录、使用第三方网站、应用或服务等产生任何纠纷或损失的，您应自行与第三方协商或通过其他合法途径解决，易签云授权无需对此向您承担任何责任或赔偿您任何损失。
					</h5>
					<h4>四.【用户行为规范】</h4>
					<h5>4.1【五不准】</h5>
					<p>您在使用本服务时不得利用本服务从事以下行为，或为以下行为提供任何便利。包括但不限于：</p>
					<p>（1）发布、传送、传播、储存违反国家法律、危害国家安全统一、社会稳定、公序良俗、社会公德以及侮辱、诽谤、淫秽、暴力的内容；</p>
					<p>（2）发布、传送、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容；</p>
					<p>（3）虚构事实、隐瞒真相以误导、欺骗他人；</p>
					<p>（4）发表、传送、传播广告信息及垃圾信息；</p>
					<p>（5）从事其他违反法律法规、政策及公序良俗、社会公德等的行为。</p>
					<h5>4.2【用户禁止行为】</h5>
					<p>本服务仅供您个人使用，除非经易签云授权书面许可，您不得进行以下行为：</p>
					<p>（1）通过任何方式搜集本服务中其他用户的用户名、电子邮件等相关信息，并以发送垃圾邮件、连锁邮件、垃圾短信、即时消息等方式干扰、骚扰其他用户；</p>
					<p>（2）通过本服务发布包含广告、宣传、促销等内容的信息；</p>
					<p>（3）将本服务再次许可他人使用；</p>
					<p>（4）其他未经易签云授权书面许可的行为。</p>
					<h5>4.3【对自己行为负责】</h5>
					<p>您充分了解并同意，您必须为自己注册帐号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。</p>
					<h5>4.4【违约处理】</h5>
					<p>如果易签云授权发现或收到他人举报您违反本协议约定的，易签云授权有权进行独立判断，并视您的行为性质，采取包括但不限于中止、终止您对您使用的易签云授权号码的使用权，暂停或终止本服务，追究您法律责任等措施。
					</p>
					<h5>4.5【对损害的处理】</h5>
					<p>若由于您的任何行为，导致任何易签云授权或他方损害的，您应当独立承担责任和赔偿易签云授权或他方的相应损失。</p>
					<h4>四.【其他】</h4>
					<h5>5.1【协议的生效与变更】</h5>
					<p>您使用本服务即视为您已阅读并同意受本协议的约束。易签云授权有权在必要时修改本协议条款。您可以在相关页面中查阅最新的协议条款。本协议条款变更后，如果您继续使用本服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用本服务。
					</p>
					<h5>5.2【适用法律】</h5>
					<p>本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
					<h5>5.3【争议解决】</h5>
					<p>若您、易签云授权或第三方之间发生任何纠纷或争议，各方首先应友好协商解决；协商不成的，三方均同意将纠纷或争议提交地有管辖权的人民法院管辖。</p>
					<h5>5.4【条款标题】</h5>
					<p>本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
					<h5>5.5【条款效力】</h5>
					<p>本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。（正文完）</p>-->
                  
					</div>
					 <p class="up" style="z-index: 999999; font-size: 15px; font-weight: bold; color: #242a30;margin:20px 0px 0px 20px;">
                        <input type="checkbox" id="chkagree" style=" vertical-align:middle; margin-top: -3px;" />我已阅读并同意
                    </p>
                    <p class="up u_p" style="margin-top: 20px;">
                        <input type="button" class="xie_y" value="确认" onclick="sub(1)"/>
                    </p>
                </div>
            </section>
            <input type="hidden" name="app_key" id="app_key" value="{$app_key}">

        </form>
    </div>
</div>
{include file="pub/footer" /}


<!-- ================== BEGIN BASE JS ================== -->
<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="/assets/js/function.js"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/assets/js/login-v2.demo.min.js"></script>
<script src="/assets/js/apps.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script src="/assets/js/libs/common.js"></script>
<script src="/assets/js/libs/jquery.form.min.js"></script>
<script>

    $(document).ready(function(){
        $('#edit').editable({inlineMode: false, alwaysBlank: true});
        var app_key="{$app_key}";
        $("#app_key").val(app_key);
    });
	$("#solo_k").css("background","#eee");
	$(".yong_h").css("background", "#0a61d4");
    function validation() {
        if ($('#chkagree').attr('checked')) {
        }
        else{
            alerts("您还未勾选同意该协议");
            return false;
        }
        return true;
    }
</script>

</body>
</html>
