<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>在线试签</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/assets/css/style.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body style="background-color: #f4f4f4;">
{include file="pub/header" /}
	<div class="mation_content">
		<div id="j_left"><?php echo $html; ?></div>
		<div class="mation_right fl blk">
			<a href="/home/dev/auth"><div class="fl appli_box bor1 mad cu_bg1">
				<img src="/assets/img/icon016.png" />
				<p class="appl">应用一</p>
			</div></a>
			<a href="/home/dev/auth"><div class="fl appli_box bor1 bor2">
				<img src="/assets/img/icon017.png" />
				<p class="appl">应用一</p>
			</div></a>
			<a href="/home/dev/auth"><div class="fl appli_box bor1 bor3 mad">
				<img src="/assets/img/icon018.png" />
				<p class="appl">应用一</p>
			</div></a>
			<a href="/home/dev/auth"><div class="fl appli_box bor1 bor3 bor2">
				<img src="/assets/img/icon019.png" />
				<p class="appl">应用一</p>
			</div></a>
		</div>
	</div>
{include file="pub/footer" /}
	<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>

	<script>
		$(".appli_box").click(function(){
			$(this).addClass("cu_bg1");
			$(this).siblings().removeClass("cu_bg1");
		    
		  });
	</script>
	 
</body>
</html>
