<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<title>待他人签</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />

		<!-- ================== BEGIN BASE CSS STYLE ================== -->
		<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/animate.min.css" rel="stylesheet" />
		<link href="/assets/css/style.min.css" rel="stylesheet" />
		<link href="/assets/css/module.css" rel="stylesheet"/>
		<!-- ================== END BASE CSS STYLE ================== -->

		<!--<link href="/assets/css/pagination.css" rel="stylesheet">-->

	</head>
	<style>
	::-webkit-scrollbar {
			height: 12px;
		}
		
		::-webkit-scrollbar-thumb {
			background-color: #fff;
			border-radius: 5px;
			padding: 10px 0px;
		}
		
		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			border-radius: 5px;
		}
	</style>

	<body style="background-color: #f4f4f4;">
		{include file="pub/header" /}
		<div class="mation_content">
			<div id="j_left">
				<?php echo $html; ?>
			</div>
			<div class="wd_bg">带他人签</div>
			<div class="mation_right">

				<div class="so_suo">
					<div class="fl ch_j ma_top">创建时间：开始~结束</div>
					<div class="rell ovey fl ma_top">
						<input class="_input" placeholder="请选择时间" type="text" value="{$start_time}" id="start_time" name="start_time" onClick="jeDate({dateCell:'#start_time',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" />
						<!--<img onClick="jeDate({dateCell:'#start_time',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" class="rili cur" src="/assets/img/img11.png" />-->
					</div>
					<div class="fl h_xian ma_top">-</div>
					<div class="rell ovey fl ma_top">
						<input class="_input" placeholder="请选择时间" type="text" value="{$end_time}" id="end_time" name="end_time" onClick="jeDate({dateCell:'#end_time',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" />
						<!--<img onClick="jeDate({dateCell:'#end_time',isTime:true,format:'YYYY-MM-DD hh:mm:ss'})" class="rili cur" src="/assets/img/img11.png" />-->
					</div>
					<button class="b_utton ma_top" onclick="_search()">查询</button>
					<div class="pian_y ma_top xia_la">
						<div class="_input">

							<input class="_input_input" type="text" id="theme" placeholder="主题搜索" />
							<span class="sou_s">
								<img src="/assets/img/aimg/gfhn.png" id="dian_ji" />
							</span>
						</div>
						<!--<span class="g_ji">高级搜索<i class="ssqIco ssqIcoAngleDown"></i></span>-->
						<div id="xial_d">
							<div class="xial_d">
								<img src="/assets/img/aimg/hshs.png" class="xial_img" />
								<input class="" type="text" id="sender" placeholder="发件人" />
								<input class="" type="text" id="addressee" placeholder="收件人" />
								<input class="initiator_c" type="text" id="initiator" placeholder="发起者" />
								<p class="ensure">
									<button id="ensure_t">确定</button>
									<button id="cancel_t">取消</button>
								</p>
							</div>
						</div>

					</div>
					<p style="clear: both;"></p>
					<!--	<p class=" cur" onclick="_search()">合同查询</p>-->
					<div id="data_list">
						<div class="tScroll" >
							<table class="pp">
								<tr class="mm">
									<td class="bb">
										<p style="width:175px;">发起者</p>
									</td>
									<td class="bb">
										<p style="width:175px;">发件人</p>
									</td>
									<td class="bb">
										<p style="width:165px;">发件时间</p>
									</td>
									<td class="bb">
										<p style="width:175px;">收件人</p>
									</td>
									<td class="bb">
										<p style="width:165px;">文档状态</p>
									</td>
									<td class="bb">
										<p style="width:165px;">到期时间</p>
									</td>
									<td class="bb">
										<p style="width:170px;" class="border_right">操作</p>
									</td>
								</tr>
								<tr class="nn" id="x_jiazai">
								</tr>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
		{include file="pub/footer" /}

		<!-- ================== BEGIN BASE JS ================== -->
		<script src="/assets/js/jedate/jedate.js"></script>
		<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/layer/layer.js"></script>
		<script src="/assets/js/function.js"></script>
		<!-- ================== END BASE JS ================== -->

		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<script src="/assets/js/login-v2.demo.min.js"></script>
		<script src="/assets/js/apps.min.js"></script>
		<!-- ================== END PAGE LEVEL JS ================== -->

		<script src="/assets/js/libs/common.js"></script>
		<script src="/assets/js/libs/jquery.form.min.js"></script>
		<script src="/assets/js/libs/jquery.blockUI.js"></script>

		<script>
			//点击显示隐藏高级搜索
			$(function(e) {

				$("#dian_ji").toggle(function() {
					$("#xial_d").show();
				}, function() {
					$("#xial_d").hide();
				});
			});
			//点击确定ensure_t取消cancel_t
			$("#ensure_t").click(function() {
				/*var tex=$("#end_time1").val();
				 $("#theme").val(tex);
				 */
				$("#xial_d").css("display", "none")
			})
			$("#cancel_t").click(function() {
				$("#xial_d").css("display", "none")
				$("#xial_d input").attr("value", "")

			})
			$(document).ready(function() {
				var page_size='{$page_size}';
				var page='{$page}';
				var start_time = "{$start_time}";
				var end_time = "{$end_time}";
				var theme = "{$theme}";//收件人
				var sender = "{$sender}"; //发件人
				var initiator = "{$initiator}";//发起者
				var addressee = "{$addressee}";
				var query = "{$query}";

				var paras = "";
				if(start_time) {
					$("#start_time").val(start_time);
					paras += "&start_time=" + start_time;
				}
				if(end_time) {
					$("#end_time").val(end_time);
					paras += "&end_time=" + end_time;
				}
				if(theme) {
					$("#theme").val(theme);
					paras += "&theme=" + theme;
				}
				if(sender) {
					$("#sender").val(sender);
					paras += "&sender=" + sender;
				}
				if(initiator) {
					$("#initiator").val(initiator);
					paras += "&initiator=" + initiator;
				}
				if(addressee) {
					$("#addressee").val(addressee);
					paras += "&addressee=" + addressee;
				}
				if(page_size) {
					paras += "&page_size=" + page_size;
				}
				if(page) {
					paras += "&page=" + page;
				}
				var query = "{:input('query')}"
				if(query){
					get_list(paras);
				}
			})
			function _search() {
				var page_size='{$page_size}';
				var page=1;
				//获取参数：
				var paras = "";
				var start_time = $("#start_time").val();
				if(start_time == "") {
					alerts("必须输入开始时间");
					return;
				} else {
					paras += "&start_time=" + start_time;
				}
				var end_time = $("#end_time").val();
				if(end_time == "") {
					alerts("必须输入结束时间");
					return;
				} else {
					paras += "&end_time=" + end_time;
				}

				var theme = $("#theme").val(); //主题
				if(theme) {
					paras += "&theme=" + theme;
				}

				var sender = $("#sender").val(); //发起者
				if(sender) {
					paras += "&sender=" + sender;
				}

				var addressee = $("#addressee").val(); //发件人
				if(addressee) {
					paras += "&addressee=" + addressee;
				}

				var initiator = $("#initiator").val(); //收件人
				if(initiator) {
					paras += "&initiator=" + initiator;
				}
				if(page_size) {
					paras += "&page_size=" + page_size;
				}
				if(page) {
					paras += "&page=" + page;
				}
				get_list(paras)
			}
			//请求数据
			function get_list(paras) {
				var url =  "/home/contract/wait_signfile_ajax?query=true"+ paras; //默认列表url
				$.ajax({
					url: url,
					type: "GET",
					async: true, //此处要求是异步的。
					dataType: "json",
					beforeSend: function() {
						$('#x_jiazai').html("加载中,请等待......");
					},
					/*complete: function() {
					 $('#x_jiazai').css("display", "none");
					 },*/
					success: page_callback,
					error: function(e) {
						showError(e.responseText);
					}
				});
				function page_callback(res) {
					$('#data_list').html(res);
				}
			}
		</script>

	</body>

</html>