<div class="tScroll">
	<table class="pp">
		<tr class="mm">
			<td class="bb">
				<p style="width:240px;">签署时间</p>
			</td>
			<td class="bb">
				<p style="width:300px;">对账单名称</p>
			</td>
			<td class="bb">
				<p style="width:300px;">复制下载地址</p>
			</td>
			<td class="bb">
				<p style="width:240px;" class="border_right">操作</p>
			</td>
		</tr>
		{volist name="list" id="vo"}
		<tr class="nn">
			<td class="cc fl c_text ct" style="width:240px;display:block;" >
				<div class="nxd">
					{$vo.create_time|date="Y-m-d H:i:s",###}
				</div>
			</td>
			<td class="cc fl c_text" style="width:300px;display:block;">
				<div class="nxd">
						{$vo['contract_name']}
				</div>
			</td>
			<td class="cc fl c_text" style="width:300px;display:block;">
				<div class="nxd">
					<input value="{$_SERVER['HTTP_HOST']}/home/fileinfo/get?code={$vo.contract_code}&content=body&handle=download" readonly="readonly" style="background: #fff;border:none;width: 200px;" title="{$_SERVER['HTTP_HOST']}/home/fileinfo/get?code={$vo.contract_code}&content=body&handle=download"/>
					<span onclick="copyUrl2($(this))" style="color:#e53f2c ;">复制下载地址</span>
				</div>
			</td>
			<td class="cc fl c_text" style="width:240px;display:block;">
				<div class="nxd">
					{if condition="$vo['contract_code']"}
						<a href="/home/fileinfo/get?code={$vo.contract_code}&content=body&handle=download"  target="_blank">下载</a>
					{else/}
					-
					{/if}
				</div>
			</td>
		</tr>
			{/volist}
	</table>
{empty name="list"}
	<td class="cc c_text" colspan="20">暂无数据</td>
{/empty}
</div>
<div id="page">
	{$page}
</div>
<script>
		function copyUrl2(obj) {
				var copys = obj.siblings();
				copys.select(); // 选择对象 
				document.execCommand("Copy"); // 执行浏览器复制命令
				success('复制成功')
				//alerts();
				//error("失败");
			}
</script>