<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>文档详情</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- ================== BEGIN BASE CSS STYLE ================== -->
		<link href="/assets/css/animate.min.css" rel="stylesheet" />
		<link href="/assets/css/module.css" rel="stylesheet" />
		<script src="/assets/js/jedate/jedate.js"></script>
	</head>
	<style>
		#x_y{
			margin:0px;z-index:9999999999;
			display:none;
			font-size:14px;
			position:absolute;
			left:0px;
			top:0px;
			 background: rgba(0,0,0,0.5);
		}
		#x_y p{
			width:100%;text-align: right;
			position:fixed;
			top:0px; 
			cursor: pointer;
			padding:0px 20px;
			color: #fff; 
			font-size: 40px;
		}
		#xy_m{
			overflow-y: scroll;
			width:60%;
			margin: auto; 
			text-align: center; 
			color: rgb(0, 0, 0); 
			background:#fff; 
			cursor: wait;
		}
		::-webkit-scrollbar {
			height: 5px !important;
			width:10px;
		}
		
		::-webkit-scrollbar-thumb {
			background-color: #aaa;
			border-radius:0px;
			padding: 10px 0px;
		}
		
		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgb(255,255,255);
			border-radius:0px;
		}

		a{ text-decoration:none}

	</style>
	<body>
		{include file="pub/header" /}

		<div class="mation_content">
			<div class="wd_bg wd_bgtop">基本信息</div>
			<div class="mation_right fl lm">
				<div class="details_top">
					<div class="details_left fl">
						<div class="deta_l1 fl">

							<img src="/assets/img/aimg/w_left.png" class="img_preview" />

							<div id="wen_jan" class="select_contract" data-code="{$contract_info.contract_code}">
								{if condition="$contract_info.contract_name"}
								{$contract_info.contract_name}
								{else/}
								{$contract_info.contract_id}.pdf
								{/if}

							</div>
						</div>
						<div class="deta_l2 fl">
							<p>
								<span>发件人账户：</span>
								<span>{$user_info.user_name}</span>
							</p>
							<p>
								<span>发件人名称：</span>
								<span>{$user_info.cuser_name}</span>
							</p>
							<p>
								<span>发件时间：</span>
								<span>{$user_info.create_time|date="Y-m-d H:i:s",###}</span>
							</p>
							{if condition="$user_contract_info['app_key'] eq '0000' "}
							     {else/}
								<p>
									<span>发起者：</span>
									<span>
										{$user_contract_info['user_name']}
									</span>
								</p>
							{/if}
						</div>
					</div>
					<div class="details_right fr">
						<div class="deta_r1 fl">
							<!--<img src="/assets/img/aimg/w_right.png" />-->
							<span>
							{if condition="$contract_info['status'] eq 1"}
								<span style="color:red">待他人签</span>
							{elseif condition="$contract_info['status']  eq 2" /}
								<span>已完成</span>
							{elseif condition="$contract_info['status']  eq 4" /}
								<span>已撤销</span>
							{elseif condition="$contract_info['status']  eq 5" /}
								<span>已拒签</span>
							{elseif condition="$contract_info['status']  eq 6" /}
								<span>已过期</span>
							{elseif condition="$contract_info['status']  eq 8" /}
								<span>待我签</span>
							{elseif condition="$contract_info['status']  eq 9" /}
								<span>待他人签</span>
							{else/}
							{/if}
							</span>
						</div>
						<div class="deta_r2 fl">

								<p>
									<span>主题：</span>
									<span>
										{if condition="$contract_info.theme"}
											{$contract_info.theme}
										{else/}
											-
										{/if}
									</span>
								</p>


								<p>
									<span>有效时间：</span>
									<span>
										{if condition="$end_time"}
											{$end_time|date="Y-m-d H:i:s",###}
										{else/}
											-
										{/if}
									</span>
								</p>


							<p>
								<span>有效期限：</span>
								<span>
									{if condition="$day"}
									{$day}天
									{else/}
									-
									{/if}

								</span>
							</p>


							{if condition="$contract_info['status'] eq 1"}
							<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{elseif condition="$contract_info['status']  eq 2" /}
								<a  style="cursor:pointer;" href="/home/fileinfo/get?code={$contract_info.contract_code}&content=package&handle=download"  target="_blank">
									<button class="deta_button"  style="cursor:pointer;">下载</button>
								</a>
							{elseif condition="$contract_info['status']  eq 4" /}
							<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{elseif condition="$contract_info['status']  eq 5" /}
							<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{elseif condition="$contract_info['status']  eq 6" /}
							<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{elseif condition="$contract_info['status']  eq 7" /}
							<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{elseif condition="$contract_info['status']  eq 8" /}
								<p class="deta_p">
								<button  class="go_sign" style="cursor:pointer;" data-tmpl_code="{$contract_info.tmpl_code}" data-transfer_id="{$contract_info.transfer_id}" data-query_code="{$contract_info.query_codes}" >签署</button>
								<button  style="cursor:pointer;" onclick="refuse_contract('{$contract_info.contract_code}',$(this))">拒签</button>
								</p>
							<script>
								$('.go_sign').click(function(){
									var tmpl_code = $(this).data('tmpl_code');
									var query_code = $(this).data('query_code');
									var transfer_id = $(this).data('transfer_id');
									localStorage.setItem("conractonline_tmpl_code",tmpl_code);
									localStorage.setItem("conractonline_query_code",query_code);
									//localStorage.setItem("conractonline_target_id",target_id);
									location.href = "/home/transfersign/onlinestep1?transfer_id="+transfer_id;
								})
								function refuse_contract(contract_code,self){
									var _this = self;
									confirm("你确定要拒绝签署这份合同么",function (){
										var path = "/home/contract/refuse_contract";
										$.ajax({
											type: "post",
											url: path,
											data: JSON.stringify({contract_code:contract_code}),
											async: false,
											success: function (data) {
												if (data.result == 'SUCCESS') {
													success(data.msg);
													_this.html('已拒绝');
													_this.removeAttr("onclick");
												} else {
													error(data.msg);
												}
											}
										});
									});
								}
							</script>
							{elseif condition="$contract_info['status']  eq 9" /}
								<button class="deta_button select_contract"  data-code="{$contract_info.contract_code}" style="cursor:pointer;" >查询文档</button>
							{else/}
							{/if}
						</div>
					</div>
				</div>
				<div class="wd_bg wd_bgtop " style="clear: both;">收件人信息</div>
				<div class="tScroll">
					<table class="pp">
						<tr class="mm">
							<td class="bb">
								<p style="width:300px;">收件人名称</p>
							</td>
							<td class="bb">
								<p style="width:300px;">收件人账号</p>
							</td>
							<td class="bb">
								<p style="width:300px;">收件人联系方式</p>
							</td>
							<td class="bb">
								<p style="width:290px;" class="border_right">签署状态</p>
							</td>
						</tr>
						{volist name="list" id="vo" }
							<tr class="nn">
								<td class="cc fl c_text ct" style="width:300px;display:block;" title="">
									<div class="nxd">
										{$vo.user_name}
									</div>
								</td>
								<td class="cc fl c_text" style="width:300px;display:block;" title="">
									<div class="nxd">
										{$vo.mobile}
									</div>
								</td>
								<td class="cc fl c_text" style="width:300px;display:block;" title="">
									<div class="nxd">
										{$vo.mobile}
									</div>
								</td>
								<td class="cc fl c_text" style="width:290px;display:block;" title="">
									<div class="nxd">
										{if condition="$vo['csign_status'] eq 0"}
										未签署
										{if condition="$vo.remind_status"}
											<span  style="cursor:pointer;" onclick="message_send('{$vo.user_id}','{$vo.contract_code}','{$vo.target_time}',$(this))">提醒</span>
										{else/}
											<span>已提醒</span>
										{/if}

										<script>
											function message_send(user_ids,contract_code,target_times,self){
												confirm("你确定要提醒用户签署文件么",function (){
													var _this = self;
													var path = "/home/contract/message_send";
													$.ajax({
														type: "post",
														url: path,
														data: JSON.stringify({user_ids: user_ids,contract_code:contract_code,target_times:target_times}),
														async: false,
														success: function (data) {
															if (data.result == 'SUCCESS') {
																success(data.msg);
																_this.html('已提醒');
																_this.removeAttr("onclick");
																//location.href = "/home/seal/seallist";
															} else {
																error(data.msg);
															}
														}
													});
												});
											}
										</script>
										{elseif condition="$vo['csign_status']  eq 1" /}
										签署中
										{elseif condition="$vo['csign_status']  eq 2" /}
										已完成
										{elseif condition="$vo['csign_status']  eq 4" /}
										已撤销
										{elseif condition="$vo['csign_status']  eq 5" /}
										已拒签
										{elseif condition="$vo['csign_status']  eq 6" /}
										已过期
										{elseif condition="$vo['csign_status']  eq 8" /}
										待我签
										{elseif condition="$vo['csign_status']  eq 9" /}
										待他人签
										{else/}
										{/if}
									</div>
								</td>
							</tr>
						{/volist}
					</table>
					{empty name="list"}
						<td class="cc c_text" colspan="20">暂无数据</td>
					{/empty}
				</div>
				<div id="page">
				</div>
			</div>

		</div>
		<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/assets/js/jedate/jedate.js"></script>
		<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/layer/layer.js"></script>
		<script src="/assets/js/function.js"></script>
		<script>

			$(document).ready(function(){
				var show_file='{$file}';
				if(show_file=="") {
					/*init_preview();*/
					//设置timeout来展示图片：
					/*getimage();*/
				}
			});

			function getimage(){
				var code = "{$contract_info['contract_code']}";
				var status = "{$contract_info['status']}";
				var timestamp = Date.parse(new Date());
				var path = "/home/contract/ajxgetpreview?t="+timestamp;
				$.ajax({
					type: "post",
					url: path,
					async: true,
					data:JSON.stringify({code: code,status:status}),
					success: function (data) {
						//alert(data.return_data.data);
						$('.img_preview').attr('src',data.return_data.data);
					}
				});
			}

			//初始化图片
			function init_preview(){
				var code ="{$contract_info['contract_code']}";
				var path = "/home/fileinfo/get?code="+code+"&content=body&handle=redirect";
				$.ajax({
					type: "get",
					url: path,
					async: true,
					success: function (data) {
					}
				});
			}

			$('.select_contract').click(function(){
				var code = $(this).data('code');
				var url = "/home/fileinfo/get?code="+code+"&content=body&handle=redirect";
				layer.open({
					type: 2,
					title: false,
					area: ['50%', '80%'],
					shade: 0.8,
					closeBtn: 1,
					shadeClose: true,
					content: url
				});
			})
		</script>
	</body>

</html>