<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<title>登录</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- ================== BEGIN BASE CSS STYLE ================== -->
		<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/assets/css/animate.min.css" rel="stylesheet" />
		<link href="/assets/css/style.min.css" rel="stylesheet" />
		<!-- ================== END BASE CSS STYLE ================== -->
	</head>
	<style>
		#getcodebtn {
			display: block;
			width: 135px;
			height: 45px;
			color: #fff;
			border-radius: 3px;
			border-color: none;
			border: 0px;
			background: #3e87e5 !important;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			font-size: 16px;
			font-family: "微软雅黑";
		}
		.logo_bg{
			background-image: none;
		}
		.num_box{
			background: none !important;
		}
	</style>

	<body style="width: 100%; height: 100%; background:url(/assets/img/aimg/bj.jpg) repeat fixed center center !important;background-size:cover;">
		<!--{include file="pub/fanhui" /}-->
		<div style="height:100px;"></div>
		<div class="logo_bg">
			<div class="logo_box">
				<a href="../index/index.html"><img class="logo fl" src="/assets/img/aimg/logo.png" /></a>
				<a href="../index/index.html" class="fan_hui"></a>
			</div>
		</div>
		<div class="login login-v2 login_d">
			<form class="margin-bottom-0" action="/home/login/loginDo" name="form" id="form" method="post">
				<div class="ove">
					<div class="p_bx fl">
						<img class="tp" src="/assets/img/aimg/qian_z.png" />
					</div>
					<div class="p_bx1 fl">
						<img src="/assets/img/aimg/de_l.png" class="p_image"/>
						<div class="p_img">
						<!--yi_c class值用于隐藏登录注册-->
						<div class="content_top d_l">
							<span id="dl" class="bus bu cur dl_l">登录</span>
							<span id="zc" class="bu cur dl_l">注册</span>
						</div>
							<div class="form-group m-b-7 d_in d_in0">
								<input id="valid" type="text" class="lo_inputt fgt" placeholder="账号" name="mobile" />
							</div>
							<div class="form-group m-b-7 d_in d_in0">
								<input id="pass" type="password" class="lo_inputt fgt" placeholder="密码" name="password" />
							</div>
							<div class="form-group m-b-7 op d_in d_in0">
								<input id="verifycode" type="text" class="lo_inputt fgt" placeholder="验证码" name="verifycode" />
								<!--
                            <img id="captchaimg" style="width:60px;height:40px;vertical-align:middle;"
                                 onclick="get_verify_img();">
                                 -->
								<img title="点击刷新验证码" style="height: 45px;" class="code-img ima im" onClick="get_verify_img();" />
								<!--
                            <img class="imn" src="/assets/img/im.png" />
                            -->
							</div>
							<div class="wang_ji d_in">
								<a href="/home/reg/password" class="btn-success wang">忘记密码</a>
							</div>
							<div class="login-buttond">
								<div onclick="sub()" class="btn btn-success btn-lg dlu" id="loginBtn">登 录</div>
							</div>
					</div>

					</div>
				</div>
			</form>
		</div>
		<!-- end login -->

		<!-- end page container -->
		<!--<div class="footer_d" style="position: fixed; bottom: 0px; background-color: #FFF; width:100%; height:80px;line-height:30px; font-size:14px; padding-top:10px;text-align:center;z-index: 999;">
			COPYRIGHT © 2014-
			<?php echo date('Y')?> 微神马科技 （大连） 有限公司 版权所有. 辽ICP备14015871号-2
		</div>-->
		{include file="pub/footer" /}
		<!-- ================== BEGIN BASE JS ================== -->
		<!-- ================== BEGIN BASE JS ================== -->
		<script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/assets/js/layer/layer.js"></script>
		<script src="/assets/js/function.js"></script>
		<!-- ================== END BASE JS ================== -->

		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<script src="/assets/js/login-v2.demo.min.js"></script>
		<script src="/assets/js/apps.min.js"></script>
		<!-- ================== END PAGE LEVEL JS ================== -->
 
		<script src="/assets/js/libs/common.js"></script>
		<script src="/assets/js/libs/jquery.form.min.js"></script>

		<script>
			function one() {
				var mobile = $("#valid").val();
				if(!(/^1[34578]\d{9}$/.test(mobile)) && !(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/.test(mobile))) {
					alerts("请输入正确的账号");
					return false;
				} else {
					return true;
				}
			}
			function validation() {
				var checkmobile = one();
				if(!checkmobile) {
					get_verify_img();
					return false;
				}

				if($("#valid").val() == "") {
					alerts("请输入账号");
					get_verify_img();
					return false;
				}

				if($("#pass").val() == "") {
					alerts("请输入密码");
					get_verify_img();
					return false;
				}

				if($("#verifycode").val() == "") {
					alerts("请输入验证码");
					return false;
				} else {
					var checkresult = checkcode();
					if(checkresult == false) {
						return false;
					}
				}

				return true;
			}

			function checkcode() {
				var path = "/home/login/checkVerifyCode";
				$.ajax({
					type: "post",
					url: path,
					data: JSON.stringify({ verifycode: $("#verifycode").val(), type: "login_verify_code" }),
					async: false,
					success: function(data) {
						if(data.result == 'SUCCESS') {
							return true;
						} else {
							//get_verify_img();
							//alerts("验证码不正确");
							$("#verifycode").attr("value", "");
						}
					}
				});
			}

			$(document).ready(function() {
				App.init();
				get_verify_img();
			});

			function get_verify_img() {
				$('.code-img').attr('src', '/home/login/showVerify?d=' + Math.random() + "&type=" + "login_verify_code");
			}
			//登录
			$("#dl").click(function() {
				window.location.href = "/home/login/index.html";
//				$('.zhuce').css("display", "none")
//				$('.denglu').css("display", "block")
			});
			//注册
			$("#zc").click(function() {
//				$('.denglu').css("display", "none")
//				$('.zhuce').css("display", "block")
				window.location.href = "/home/reg/company.html";
			});
			$(function() {
				document.onkeydown = function(e) {
					var ev = document.all ? window.event : e;
					if(ev.keyCode == 13) {
						$("#loginBtn").click();
					}
				}
			});

			function sub(showmessflag) {
				//检查和校验处理
				//if(false== validate_handle()){
				if(false == validation()) {
					return;
				}

				subform(showmessflag);
			}

			//提交
			function subform(showmessflag) {

				var ajax_info = {
					success: function(data) {
						return_handle(data, showmessflag);
					},
					resetForm: false,
					dataType: 'json'
				};

				$("#form").ajaxSubmit(ajax_info);
			}

			//处理返回
			function return_handle(data, showmessflag) {
				if(data.result == 'SUCCESS') {
					//如果需要先显示消息,则先显示消息之后跳转
					if(showmessflag == 1) {
						alerts(data.msg);
					}
					location.href = data.return_data.url;
				} else {
					alerts(data.msg);
					get_verify_img();
				}
			}
		</script>
	</body>

</html>